In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
import statsmodels.api as sm

%matplotlib inline

ModuleNotFoundError: No module named 'seaborn'

In [2]:
Household = pd.read_excel('../2progs/Excel_Files/A5_HouseholdRenamed.xlsx')
Food = pd.read_excel('../2progs/Excel_Files/B2_FoodRemoveOutliers.xlsx',sheet_name='Sheet1')

In [3]:
Household['lighting_source'] = pd.factorize(Household['lighting_source'])[0] + 1
Household['floor_material'] = pd.factorize(Household['floor_material'])[0] + 1
Household['roof_material'] = pd.factorize(Household['roof_material'])[0] + 1
Household['wall_material'] = pd.factorize(Household['wall_material'])[0] + 1
Household['toilet_type'] = pd.factorize(Household['toilet_type'])[0] + 1
Household['drikingwater_source'] = pd.factorize(Household['drikingwater_source'])[0] + 1
Household['crowdindex_room'] = pd.factorize(Household['crowdindex_room'])[0] + 1
Household['LCS_index'] = pd.factorize(Household['crowdindex_room'])[0] + 1
Household['poorIPL'] = pd.factorize(Household['crowdindex_room'])[0] + 1

In [4]:
Food['hh_purchasedfood7d']

0        Yes
1        Yes
2        Yes
3        Yes
4        Yes
        ...
18104    Yes
18105    Yes
18106    Yes
18107    Yes
18108    Yes
Name: hh_purchasedfood7d, Length: 18109, dtype: object

In [5]:
Food = pd.get_dummies(Food, columns=['hh_purchasedfood7d'], dummy_na= True)
Food = pd.get_dummies(Food, columns=['foodwasfree'], dummy_na= True)

In [6]:
Food['hh_purchasedfood7d_Yes']

0        1
1        1
2        1
3        1
4        1
        ..
18104    1
18105    1
18106    1
18107    1
18108    1
Name: hh_purchasedfood7d_Yes, Length: 18109, dtype: uint8

In [7]:
#Creating Dummy Variables for Household dataset
Household = pd.get_dummies(Household, columns=["own_radio",
                          "own_television", "drinkingwater_insufficientquanities", "own_satelitedish", "own_smartphone",
                          "own_refrigerator",  "own_table", "own_bed", "own_mattress", 
                         "own_mosquitonet", "own_fan", "own_bicycle", "own_motorcycle", "own_generator", "own_solarpanels", "own_kerosenestove",
                          "own_charcoaljiko", "own_wheelbarrow","own_ironfencing", 
                          "own_farmanimals","relatives_abroad","relatives_outsidekenya", 
                          "own_bankaccount","borrowedfrom_sources12mo", "borrowedfrom_bank12mo", 
                          "borrowedfrom_community", "borrowedfrom_familyorfriends12mo", "remittances_abroad", 
                         "purchased_insurance",  "sellhhgoods_lackfood", 
                           "healthandeduc_reduction",  "sellassets_lackfood",  "spendsavings:lackfood", 
                          "borrowmoneyfood_lackfood", "sellhouseland_lackfood", "withdrawchildrenschool_lackfood", 
                         "sellanimals:lackfood", "sellfemaleanimal_last", "beg_lackfood", 'payrent_dwelling', 
                        "own_car",'share_toilet', 'childunder5_death5yrs'], dummy_na= True)

In [8]:
Household.drop([col for col in Household.columns if '_No' in col],axis=1)

,Unnamed: 0,hhid,hhsize,familysize1,familysize2,familysize3,familysize4,familysize5,s1q2,s1q5,...,sellfemaleanimal_last_Yes,sellfemaleanimal_last_nan,beg_lackfood_Yes,beg_lackfood_nan,payrent_dwelling_nan,own_car_nan,share_toilet_Yes,share_toilet_nan,childunder5_death5yrs_Yes,childunder5_death5yrs_nan
0,0,10,5,5,0,0,0,0,Village 1,Yes,...,0,0,0,0,0,0,1,0,0,0
1,1,11,6,6,0,0,0,0,Village 1,Yes,...,1,0,0,0,0,0,1,0,0,0
2,2,12,6,6,0,0,0,0,Village 1,Yes,...,0,0,0,0,0,0,0,1,0,0
3,3,14,14,14,0,0,0,0,Village 1,Yes,...,0,0,0,0,0,0,0,1,0,0
4,4,15,2,1,1,0,0,0,Village 1,Yes,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,1095,5977,15,13,2,0,0,0,Village 3,Yes,...,0,0,0,0,0,0,1,0,0,0
1096,1096,5986,2,2,0,0,0,0,Village 3,Yes,...,0,0,0,0,0,0,1,0,0,0
1097,1097,5992,1,1,0,0,0,0,Village 2,Yes,...,0,0,0,0,0,0,1,0,0,0
1098,1098,6002,4,4,0,0,0,0,Village 3,Yes,...,0,0,0,0,0,0,0,1,0,0
1099,1099,6004,12,9,3,0,0,0,Village 3,Yes,...,0,0,0,0,0,0,0,1,0,0

In [9]:
hh_purchasedfood7d_Yes = Food.groupby('hhid')['hh_purchasedfood7d_Yes'].sum()
hh_purchasedfood7d_Yes = np.where(hh_purchasedfood7d_Yes > 0.99, 1, 0)
foodwasfree_Yes = Food.groupby('hhid')['foodwasfree_Yes'].sum()
foodwasfree_Yes = np.where(foodwasfree_Yes > 0.99, 1, 0)
Food = pd.DataFrame(Food.groupby('hhid')['foodspent_localcurrecny'].sum())
Food['hh_purchasedfood7d_Yes'] = hh_purchasedfood7d_Yes
Food['foodwasfree_Yes'] = foodwasfree_Yes
Food.head()

      foodspent_localcurrecny  hh_purchasedfood7d_Yes  foodwasfree_Yes
hhid
10                     7642.0                       1                1
11                     2120.0                       1                1
12                      900.0                       1                1
14                     1910.0                       1                1
15                     2210.0                       1                1

In [10]:
Food.to_excel('../2progs/Excel_Files/B6_FoodDummyVars.xlsx',sheet_name='Sheet1')
Household.to_excel('../2progs/Excel_Files/B7_HouseholdDummyVars.xlsx',sheet_name='Sheet1')