In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
MergedDatasetsRenamed = pd.read_csv('../2progs/Outliers_Cleaning')

In [3]:
MergedDatasetsRenamed.describe()

,hhid,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,spend_pocketmoney,...,hh_fcon,hh_nfcon,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,pgi,spg,weight_y.1,popweight
count,18080.000000,18044.000000,17961.000000,17827.000000,17989.000000,18080.000000,18038.000000,18080.000000,18038.000000,18059.000000,...,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,1.808000e+04,18080.000000,18080.000000,1.808000e+04,18080.000000
mean,2881.083075,398.346267,230.456953,420.067202,251.428651,519.651088,223.134494,40.931785,14.324592,138.034775,...,5220.971545,1150.272287,6371.243831,112.744999,3.706685,1.900000e+00,0.126914,0.053089,5.557169e+00,32.314873
std,1711.899022,2445.767511,643.807353,634.122627,763.648839,5716.036337,1570.730804,372.584012,80.234814,833.598131,...,5816.500071,1880.082360,7316.670959,129.475195,4.256719,6.388400e-13,0.192312,0.107686,2.041979e-12,17.213481
min,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,280.630190,30.422174,409.410490,7.244894,0.238188,1.900000e+00,0.000000,0.000000,5.557168e+00,5.557168
25%,1404.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2138.560100,347.809720,2622.582300,46.409000,1.525775,1.900000e+00,0.000000,0.000000,5.557168e+00,22.228674
50%,2801.000000,0.000000,0.000000,160.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3456.051500,632.616210,4206.944300,74.445732,2.447531,1.900000e+00,0.000000,0.000000,5.557168e+00,33.343010
75%,4397.000000,0.000000,0.000000,600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6068.940400,1275.704600,7178.627400,127.032390,4.176407,1.900000e+00,0.233719,0.054625,5.557168e+00,44.457348
max,6004.000000,32000.000980,4999.999939,3780.000000,7000.000000,100200.000000,30000.000000,6000.000000,1000.000031,10000.000000,...,62754.434000,26267.102000,89021.539000,1575.317600,51.791267,1.900000e+00,0.874638,0.764991,5.557168e+00,116.700540

In [4]:
#Creating Dummy Variables for Household and Food Data Sets 
MergedDatasetsRenamed= pd.get_dummies(MergedDatasetsRenamed, columns=["own_radio",
                          "own_television", "drinkingwater_insufficientquanities", "own_satelitedish", "own_smartphone",
                          "own_refrigerator",  "own_table", "own_bed", "own_mattress", 
                         "own_mosquitonet", "own_fan", "own_bicycle", "own_motorcycle", 
                        "own_car", "own_generator", "own_solarpanels", "own_kerosenestove",
                          "own_charcoaljiko", "own_wheelbarrow","own_ironfencing", 
                          "own_farmanimals","relatives_abroad","relatives_outsidekenya", 
                          "own_bankaccount","borrowedfrom_sources12mo", "borrowedfrom_bank12mo", 
                          "borrowedfrom_community", "borrowedfrom_familyorfriends12mo", "remittances_abroad", 
                         "purchased_insurance",  "sellhhgoods_lackfood", 
                           "healthandeduc_reduction",  "sellassets_lackfood",  "spendsavings:lackfood", 
                          "borrowmoneyfood_lackfood", "sellhouseland_lackfood", "withdrawchildrenschool_lackfood", 
                         "sellanimals:lackfood", "sellfemaleanimal_last", "beg_lackfood", "payrent_dwelling", 
                        "hh_purchasedfood7d"])
MergedDatasetsRenamed

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,withdrawchildrenschool_lackfood_Yes,sellanimals:lackfood_No,sellanimals:lackfood_Yes,sellfemaleanimal_last_No,sellfemaleanimal_last_Yes,beg_lackfood_No,beg_lackfood_Yes,payrent_dwelling_No,hh_purchasedfood7d_No,hh_purchasedfood7d_Yes
0,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,1,0,1,0,1,0,1,0,1
1,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,1,0,1,0,1,0,1,0,1
2,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,1,0,1,0,1,0,1,0,1
3,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,1,0,1,0,1,0,1,0,1
4,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,1,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18075,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,1,0,1,0,1,0,1,0,1
18076,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,1,0,1,0,1,0,1,0,1
18077,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,1,0,1,0,1,0,1,0,1
18078,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,1,0,1,0,1,0,1,0,1
18079,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,1,0,1,0,1,0,1,0,1

In [5]:
MergedDatasetsRenamed = pd.get_dummies(MergedDatasetsRenamed, 
                                       columns=['childunder5_death5yrs','foodwasfree'], dummy_na = True)

In [6]:
MergedDatasetsRenamed[['childunder5_death5yrs_nan', 'foodwasfree_nan']].sum()

childunder5_death5yrs_nan     592
foodwasfree_nan              2582
dtype: int64

In [7]:
MergedDatasetsRenamed['foodwasfree_Yes'].isnull().sum()
MergedDatasetsRenamed['childunder5_death5yrs_Yes'].isnull().sum()

0

In [8]:
MergedDatasetsRenamed.drop([col for col in MergedDatasetsRenamed.columns if '_No' in col],axis=1)


#refused to respond, don't know

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,sellanimals:lackfood_Yes,sellfemaleanimal_last_Yes,beg_lackfood_Yes,hh_purchasedfood7d_Yes,childunder5_death5yrs_Yes,childunder5_death5yrs_nan,foodwasfree_Don't Know,foodwasfree_Refused to Respond,foodwasfree_Yes,foodwasfree_nan
0,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,0,0,1,0,0,0,0,1,0
1,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,0,0,1,0,0,0,0,1,0
2,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,0,0,1,0,0,0,0,1,0
3,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,0,0,1,0,0,0,0,1,0
4,10,Village 1,0.0,0.0,2400.000000,0.0,6000.0,3000.0,2000.000061,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18075,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,0,0,1,0,0,0,0,0,1
18076,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,0,0,1,0,0,0,0,0,1
18077,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,0,0,1,0,0,0,0,1,0
18078,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,0,0,1,0,0,0,0,0,0
18079,6004,Village 3,0.0,0.0,1000.000031,0.0,0.0,0.0,0.000000,0.0,...,0,0,0,1,0,0,0,0,1,0

In [15]:
MergedDatasetsRenamed.describe()

,hhid,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,spend_pocketmoney,...,sellfemaleanimal_last_Yes,beg_lackfood_No,beg_lackfood_Yes,payrent_dwelling_No,hh_purchasedfood7d_No,hh_purchasedfood7d_Yes,foodwasfree_Don't Know,foodwasfree_No,foodwasfree_Refused to Respond,foodwasfree_Yes
count,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,...,18080.000000,18080.000000,18080.000000,18080.0,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000,18080.000000
mean,2881.083075,483.579096,274.443437,496.192368,300.406527,519.651088,355.359513,40.931785,19.302378,179.688606,...,0.044580,0.866372,0.133628,1.0,0.159624,0.840376,0.001217,0.135288,0.000221,0.720465
std,1711.899022,3112.086816,844.785915,922.513144,1039.178863,5716.036337,3207.206623,372.584012,133.270265,1478.585277,...,0.206385,0.340262,0.340262,0.0,0.366267,0.366267,0.034863,0.342040,0.014873,0.448783
min,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1404.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2801.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,4397.000000,0.000000,0.000000,600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,6004.000000,48350.000980,9999.999878,8600.000000,14000.000000,100200.000000,72000.000000,6000.000000,3000.000000,36000.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
MergedDatasetsRenamed.to_excel('MergedDatasetwDummies.xlsx',sheet_name='Sheet1')