In [41]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error

In [42]:
FinalMerge = pd.read_excel('../2progs/FinalMerge.xlsx',sheet_name='Sheet1',index_col = 0)

In [73]:
FinalMerge

,hhid,size,headFemale,shareFemale,shareAgeZeroToFour,shareAgeFiveToNine,shareAgeTenToFourteen,shareAgeFifteenToTwentyfour,shareAgeTwentyfivetofourtynine,shareAgeFiftyPlus,...,lighting_source_Solar Energy,lighting_source_nan,share_toilet_No,share_toilet_Yes,share_toilet_nan,EducationTotalSpend,FoodTotalSpend,NonFoodTotalSpend,EnergyTotalSpend,Total_Spend
0,10,5,1,0.800000,0.200000,0.400000,0.200000,0.000000,0.200000,0.000000,...,0,0,0,1,0,19100.000060,7642,1031.994440,1000,28773.994501
1,11,6,1,0.166667,0.000000,0.000000,0.166667,0.666667,0.166667,0.000000,...,0,0,0,1,0,220.000000,2120,94.158150,550,2984.158150
2,12,6,1,0.833333,0.166667,0.333333,0.333333,0.000000,0.166667,0.000000,...,1,0,0,0,1,400.000000,900,282.654090,200,1782.654090
3,14,14,1,0.714286,0.285714,0.285714,0.142857,0.142857,0.071429,0.071429,...,0,0,0,0,1,250.000000,1910,159.810690,240,2559.810690
4,15,2,0,0.500000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,...,0,0,0,1,0,9500.000000,2210,596.885089,600,12906.885089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,5977,15,1,0.133333,0.000000,0.133333,0.333333,0.400000,0.066667,0.066667,...,0,0,0,1,0,600.000008,1420,210.000000,650,2880.000008
1086,5986,2,0,0.500000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,...,0,0,0,1,0,0.000000,820,618.490350,850,2288.490350
1087,5992,1,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1,0,0,1,0,500.000000,5700,0.000000,50,6250.000000
1088,6002,4,1,0.750000,0.500000,0.250000,0.000000,0.000000,0.250000,0.000000,...,0,0,0,0,1,50.000000,2280,517.662840,0,2847.662840
1089,6004,12,0,0.666667,0.166667,0.250000,0.166667,0.166667,0.166667,0.083333,...,1,0,0,0,1,1000.000031,4440,782.311750,200,6422.311781

In [78]:
FinalMerge['Total_Spend'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1085    False
1086    False
1087    False
1088    False
1089    False
Name: Total_Spend, Length: 1090, dtype: bool

In [44]:
FinalMerge['number_dwellings'] = FinalMerge['number_dwellings'].astype(float)
FinalMerge['number_habitablerooms'] = FinalMerge['number_habitablerooms'].astype(float)
#MergedDatasetDummies['floor_material'] = MergedDatasetDummies['floor_material'].astype(float)
#MergedDatasetDummies['roof_material'] = MergedDatasetDummies['roof_material'].astype(float)
#MergedDatasetDummies['wall_material'] = MergedDatasetDummies['wall_material'].astype(float)
#MergedDatasetDummies['toilet_type'] = MergedDatasetDummies['toilet_type'].astype(float)
#MergedDatasetDummies['share_toilet'] = MergedDatasetDummies['share_toilet'].astype(float)
#MergedDatasetDummies['lighting_source'] = MergedDatasetDummies['lighting_source'].astype(float)
FinalMerge['own_radio_Yes'] = FinalMerge['own_radio_Yes'].astype(float)
FinalMerge['own_television_Yes'] = FinalMerge['own_television_Yes'].astype(float)
FinalMerge['own_satelitedish_Yes'] = FinalMerge['own_satelitedish_Yes'].astype(float)
FinalMerge['own_smartphone_Yes'] = FinalMerge['own_smartphone_Yes'].astype(float)
FinalMerge['own_refrigerator_Yes'] = FinalMerge['own_refrigerator_Yes'].astype(float)
FinalMerge['own_table_Yes'] = FinalMerge['own_table_Yes'].astype(float)
FinalMerge['own_bed_Yes'] = FinalMerge['own_bed_Yes'].astype(float)
FinalMerge['own_mattress_Yes'] = FinalMerge['own_mattress_Yes'].astype(float)
FinalMerge['own_mosquitonet_Yes'] = FinalMerge['own_mosquitonet_Yes'].astype(float)
FinalMerge['own_mattress_Yes'] = FinalMerge['own_mattress_Yes'].astype(float)
FinalMerge['own_fan_Yes'] = FinalMerge['own_fan_Yes'].astype(float)
FinalMerge['own_bicycle_Yes'] = FinalMerge['own_bicycle_Yes'].astype(float)
FinalMerge['own_motorcycle_Yes'] = FinalMerge['own_motorcycle_Yes'].astype(float)
FinalMerge['own_generator_Yes'] = FinalMerge['own_generator_Yes'].astype(float)
FinalMerge['own_solarpanels_Yes'] = FinalMerge['own_solarpanels_Yes'].astype(float)
FinalMerge['own_kerosenestove_Yes'] = FinalMerge['own_kerosenestove_Yes'].astype(float)
FinalMerge['own_charcoaljiko_Yes'] = FinalMerge['own_charcoaljiko_Yes'].astype(float)
FinalMerge['own_wheelbarrow_Yes'] = FinalMerge['own_wheelbarrow_Yes'].astype(float)
FinalMerge['own_ironfencing_Yes'] = FinalMerge['own_ironfencing_Yes'].astype(float)
FinalMerge['own_farmanimals_Yes'] = FinalMerge['own_farmanimals_Yes'].astype(float)

In [114]:
restricted_set = FinalMerge[['number_dwellings', 'number_habitablerooms', 'own_radio_Yes', 
                                       'own_television_Yes', 'own_satelitedish_Yes', 'own_smartphone_Yes', 'own_refrigerator_Yes',
                                      'own_table_Yes', 'own_bed_Yes', 'own_mattress_Yes', 'own_mosquitonet_Yes', 'own_fan_Yes', 'own_bicycle_Yes',
                                      'own_motorcycle_Yes', 'own_generator_Yes', 'own_solarpanels_Yes', 'own_kerosenestove_Yes',
                                      'own_charcoaljiko_Yes', 'own_wheelbarrow_Yes', 'own_ironfencing_Yes', 'own_farmanimals_Yes', 
                            'headFemale', 'shareFemale','shareAgeZeroToFour','shareAgeFiveToNine', 'shareAgeTenToFourteen', 
    'shareAgeFifteenToTwentyfour', 'shareAgeTwentyfivetofourtynine', 'shareAgeFiftyPlus','shareMaleAgeTenToNineteen',
    'shareFemaleAgeTenToNineteen', 'shareMaleAgeTwentytoFourtynine', 'shareFemaleAgeTwentytoFourtynine',
    'shareWithNoEducation', 'shareWithEarlyChildhood', 'shareWithPrimary', 'shareWithSecondary', 'shareWithVocational',
    'shareWithUniversity', 'shareWithOther', 'shareSpeaks', 'shareReads', 'shareWrites']].fillna(0)

#own_car
#'hh_purchasedfood7d_Yes'
#floor_material', 'roof_material','wall_material', 'toilet_type', 'share_toilet', 'lighting_source',
#doesn't include share of household vars

In [103]:
ln_spend = np.log(FinalMerge['Total_Spend'])

              
ln_expenditure_per_capita = ln_spend/FinalMerge['size']

In [104]:
y = ln_expenditure_per_capita

X = restricted_set

#need to figure out why there are 0's for total spend

In [105]:
#Ridge Model
alphas = 10**np.linspace(10,-2,100)*0.5

In [106]:
ridge = Ridge(normalize = True)
coefs = []

for a in alphas:
    ridge.set_params(alpha = a)
    ridge.fit(X, y)
    coefs.append(ridge.coef_)
    
np.shape(coefs)

(100, 43)

In [107]:
# Split data into training and test sets
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1)

In [108]:
#cross validation to choose optimal alpha

ridgecv = RidgeCV(alphas = alphas, scoring = 'neg_mean_squared_error', normalize = True)
ridgecv.fit(X_train, y_train)
ridgecv.alpha_

0.01155064850041579

In [109]:
#Test MSE w/ optimal alpha

ridge4 = Ridge(alpha = ridgecv.alpha_, normalize = True)
ridge4.fit(X_train, y_train)
mean_squared_error(y_test, ridge4.predict(X_test))

1.2501110364648023

In [89]:
#Fit ridge model w/ optimal alpha 
ridge4.fit(X, y)
pd.Series(ridge4.coef_, index = X.columns)

number_dwellings        -0.574397
number_habitablerooms   -0.352225
own_radio_Yes            0.198642
own_television_Yes      -0.353133
own_satelitedish_Yes     0.933885
own_smartphone_Yes       0.307480
own_refrigerator_Yes     0.466132
own_table_Yes           -0.061897
own_bed_Yes              0.385652
own_mattress_Yes         0.348824
own_mosquitonet_Yes     -0.296974
own_fan_Yes             -0.982286
own_bicycle_Yes          0.233028
own_motorcycle_Yes       0.344474
own_generator_Yes       -0.175232
own_solarpanels_Yes      0.294431
own_kerosenestove_Yes    0.145113
own_charcoaljiko_Yes     0.095219
own_wheelbarrow_Yes     -0.103579
own_ironfencing_Yes      0.404973
own_farmanimals_Yes     -0.338566
dtype: float64

In [37]:
MergedDatasetDummies['Total_Spend'].min()

0.0

In [38]:
MergedDatasetDummies[MergedDatasetDummies['Total_Spend'] == 0]

,hhid,size,headFemale,shareFemale,shareAgeZeroToFour,shareAgeFiveToNine,shareAgeTenToFourteen,shareAgeFifteenToTwentyfour,shareAgeTwentyfivetofourtynine,shareAgeFiftyPlus,...,foodwasfree_Don't Know,foodwasfree_No,foodwasfree_Refused to Respond,foodwasfree_Yes,foodwasfree_nan,nonfoodTotalspend,energyTotalspend,foodTotalspend,educationTotalspend,Total_Spend
311,95,6,1,0.333333,0.333333,0.166667,0.166667,0.166667,0.166667,0.0,...,0,0,0,0,1,NaN,0,NaN,0.0,0.0
627,155,9,1,0.333333,0.000000,0.111111,0.444444,0.333333,0.111111,0.0,...,0,0,0,0,1,NaN,0,NaN,0.0,0.0
937,236,1,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,...,0,0,0,0,1,NaN,0,NaN,0.0,0.0
967,244,8,1,0.625000,0.375000,0.125000,0.250000,0.000000,0.250000,0.0,...,0,0,0,0,1,NaN,0,NaN,0.0,0.0
985,244,8,1,0.625000,0.375000,0.125000,0.250000,0.000000,0.250000,0.0,...,0,0,0,1,0,NaN,0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17758,5879,4,0,0.500000,0.500000,0.000000,0.000000,0.250000,0.250000,0.0,...,0,0,0,1,0,NaN,0,NaN,0.0,0.0
17759,5879,4,0,0.500000,0.500000,0.000000,0.000000,0.250000,0.250000,0.0,...,0,0,0,1,0,NaN,0,NaN,0.0,0.0
17763,5879,4,0,0.500000,0.500000,0.000000,0.000000,0.250000,0.250000,0.0,...,0,0,0,1,0,NaN,0,NaN,0.0,0.0
17764,5879,4,0,0.500000,0.500000,0.000000,0.000000,0.250000,0.250000,0.0,...,0,0,0,1,0,NaN,0,NaN,0.0,0.0
17765,5879,4,0,0.500000,0.500000,0.000000,0.000000,0.250000,0.250000,0.0,...,0,0,0,1,0,NaN,0,NaN,0.0,0.0

/Users/colleenodonnell/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [hhid, size, headFemale, shareFemale, shareAgeZeroToFour, shareAgeFiveToNine, shareAgeTenToFourteen, shareAgeFifteenToTwentyfour, shareAgeTwentyfivetofourtynine, shareAgeFiftyPlus, shareMaleAgeTenToNineteen, shareFemaleAgeTenToNineteen, shareMaleAgeTwentytoFourtynine, shareFemaleAgeTwentytoFourtynine, shareWithNoEducation, shareWithEarlyChildhood, shareWithPrimary, shareWithSecondary, shareWithVocational, shareWithUniversity, shareWithOther, shareSpeaks, shareReads, shareWrites, s1q2_x, spend_tuitionfees, spend_textbooks, spend_exercisebooks, spend_schooluniform, spend_schoolboardingfees, spend_schooltransport, spend_extratuition, spend_PTA, spend_pocketmoney, spend_cautionmoney, spend_educmedicalfee, spend_activityfees, spend_examfees, spend_educfeedingprogram, spend_othereduccharges, hhsize_x, weight_x, popweight_x, Dataset4, hhlocation, q_purchased_firewoodused, totalcost_purchasedfirewood, q_collected_firewoodused, totalcost_collectedfirewood, q_farmresidue_used, totalcost_farmresidue, q_wood/processwaste_used, totalcost_wood/processwaste, q_charcoal_used, totalcost_charcoal, q_kerosene/paraffin_used, totalcost_kerosene/paraffin, q_lpg_used, totalcost_lpg, s12q19, q_electricity_used, totalcost_electricity, s12q20, q_petrol_used, totalcost_petrol, s12q21, q_diesel_used, totalcost_diesel, hhsize_y, weight_y, Dataset3, s1q2_y, hhsize_x.1, hhmod, amountfood_purchased7d, foodspent_localcurrecny, s12q5, foodconsumed7d, s12q6_a, wfp, purc_q_kg, purc_q_kg_pc, quantityfood_consumedkg, quantityfood_consumedkg_pc, fcons_value, fcons_value_capita, weight_x.1, popweight_y, Dataset1, hhsize_y.1, familysize1, familysize2, familysize3, familysize4, familysize5, s1q2, number_dwellings, number_habitablerooms, floor_material, roof_material, ...]
Index: []

[0 rows x 218 columns]

In [ ]:
unwanted = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('spend_')]
ExcludingShareofHousehold.drop(unwanted, axis=1, inplace=True)

unwanted2 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.endswith('pend')]
ExcludingShareofHousehold.drop(unwanted2, axis=1, inplace=True)

unwanted3 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('q_')]
ExcludingShareofHousehold.drop(unwanted3, axis=1, inplace=True)

unwanted4 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('totalcost')]
ExcludingShareofHousehold.drop(unwanted4, axis=1, inplace=True)

unwanted5 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('Dataset')]
ExcludingShareofHousehold.drop(unwanted5, axis=1, inplace=True)

unwanted6 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('hhsize')]
ExcludingShareofHousehold.drop(unwanted6, axis=1, inplace=True)

unwanted7 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('s1q2')]
ExcludingShareofHousehold.drop(unwanted7, axis=1, inplace=True)

unwanted8 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('weight')]
ExcludingShareofHousehold.drop(unwanted8, axis=1, inplace=True)

unwanted9 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('hhid')]
ExcludingShareofHousehold.drop(unwanted9, axis=1, inplace=True)

unwanted10 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('popweight')]
ExcludingShareofHousehold.drop(unwanted10, axis=1, inplace=True)

unwanted11 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('hhlocation')]
ExcludingShareofHousehold.drop(unwanted11, axis=1, inplace=True)

#why are there variables that aren't named?
Remove_extra_vars = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.endswith('_No')]
ExcludingShareofHousehold.drop(Remove_extra_vars, axis=1, inplace=True)