In [65]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

In [44]:
FinalMerge = pd.read_excel('../2progs/FinalMerge.xlsx',sheet_name='Sheet1',index_col = 0)

In [45]:
FinalMerge

,hhid,size,headFemale,shareFemale,shareAgeZeroToFour,shareAgeFiveToNine,shareAgeTenToFourteen,shareAgeFifteenToTwentyfour,shareAgeTwentyfivetofourtynine,shareAgeFiftyPlus,...,share_toilet_Yes,share_toilet_nan,childunder5_death5yrs_No,childunder5_death5yrs_Yes,childunder5_death5yrs_nan,EducationTotalSpend,FoodTotalSpend,NonFoodTotalSpend,EnergyTotalSpend,Total_Spend
0,10,5,1,0.800000,0.200000,0.400000,0.200000,0.000000,0.200000,0.000000,...,1,0,1,0,0,19100.000060,7642,1031.994440,1000,28773.994501
1,11,6,1,0.166667,0.000000,0.000000,0.166667,0.666667,0.166667,0.000000,...,1,0,1,0,0,220.000000,2120,94.158150,550,2984.158150
2,12,6,1,0.833333,0.166667,0.333333,0.333333,0.000000,0.166667,0.000000,...,0,1,1,0,0,400.000000,900,282.654090,200,1782.654090
3,14,14,1,0.714286,0.285714,0.285714,0.142857,0.142857,0.071429,0.071429,...,0,1,1,0,0,250.000000,1910,159.810690,240,2559.810690
4,15,2,0,0.500000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,...,1,0,1,0,0,9500.000000,2210,596.885089,600,12906.885089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,5977,15,1,0.133333,0.000000,0.133333,0.333333,0.400000,0.066667,0.066667,...,1,0,1,0,0,600.000008,1420,210.000000,650,2880.000008
1086,5986,2,0,0.500000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,...,1,0,1,0,0,0.000000,820,618.490350,850,2288.490350
1087,5992,1,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1,0,1,0,0,500.000000,5700,0.000000,50,6250.000000
1088,6002,4,1,0.750000,0.500000,0.250000,0.000000,0.000000,0.250000,0.000000,...,0,1,1,0,0,50.000000,2280,517.662840,0,2847.662840
1089,6004,12,0,0.666667,0.166667,0.250000,0.166667,0.166667,0.166667,0.083333,...,0,1,1,0,0,1000.000031,4440,782.311750,200,6422.311781

In [46]:
FinalMerge['Total_Spend'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1085    False
1086    False
1087    False
1088    False
1089    False
Name: Total_Spend, Length: 1090, dtype: bool

In [47]:
FinalMerge['number_dwellings'] = FinalMerge['number_dwellings'].astype(float)
FinalMerge['number_habitablerooms'] = FinalMerge['number_habitablerooms'].astype(float)
#MergedDatasetDummies['floor_material'] = MergedDatasetDummies['floor_material'].astype(float)
#MergedDatasetDummies['roof_material'] = MergedDatasetDummies['roof_material'].astype(float)
#MergedDatasetDummies['wall_material'] = MergedDatasetDummies['wall_material'].astype(float)
#MergedDatasetDummies['toilet_type'] = MergedDatasetDummies['toilet_type'].astype(float)
#MergedDatasetDummies['share_toilet'] = MergedDatasetDummies['share_toilet'].astype(float)
#MergedDatasetDummies['lighting_source'] = MergedDatasetDummies['lighting_source'].astype(float)
FinalMerge['own_radio_Yes'] = FinalMerge['own_radio_Yes'].astype(float)
FinalMerge['own_television_Yes'] = FinalMerge['own_television_Yes'].astype(float)
FinalMerge['own_satelitedish_Yes'] = FinalMerge['own_satelitedish_Yes'].astype(float)
FinalMerge['own_smartphone_Yes'] = FinalMerge['own_smartphone_Yes'].astype(float)
FinalMerge['own_refrigerator_Yes'] = FinalMerge['own_refrigerator_Yes'].astype(float)
FinalMerge['own_table_Yes'] = FinalMerge['own_table_Yes'].astype(float)
FinalMerge['own_bed_Yes'] = FinalMerge['own_bed_Yes'].astype(float)
FinalMerge['own_mattress_Yes'] = FinalMerge['own_mattress_Yes'].astype(float)
FinalMerge['own_mosquitonet_Yes'] = FinalMerge['own_mosquitonet_Yes'].astype(float)
FinalMerge['own_mattress_Yes'] = FinalMerge['own_mattress_Yes'].astype(float)
FinalMerge['own_fan_Yes'] = FinalMerge['own_fan_Yes'].astype(float)
FinalMerge['own_bicycle_Yes'] = FinalMerge['own_bicycle_Yes'].astype(float)
FinalMerge['own_motorcycle_Yes'] = FinalMerge['own_motorcycle_Yes'].astype(float)
FinalMerge['own_generator_Yes'] = FinalMerge['own_generator_Yes'].astype(float)
FinalMerge['own_solarpanels_Yes'] = FinalMerge['own_solarpanels_Yes'].astype(float)
FinalMerge['own_kerosenestove_Yes'] = FinalMerge['own_kerosenestove_Yes'].astype(float)
FinalMerge['own_charcoaljiko_Yes'] = FinalMerge['own_charcoaljiko_Yes'].astype(float)
FinalMerge['own_wheelbarrow_Yes'] = FinalMerge['own_wheelbarrow_Yes'].astype(float)
FinalMerge['own_ironfencing_Yes'] = FinalMerge['own_ironfencing_Yes'].astype(float)
FinalMerge['own_farmanimals_Yes'] = FinalMerge['own_farmanimals_Yes'].astype(float)

In [48]:
restricted_set = FinalMerge[['number_dwellings', 'number_habitablerooms', 'own_radio_Yes', 
                                       'own_television_Yes', 'own_satelitedish_Yes', 'own_smartphone_Yes', 'own_refrigerator_Yes',
                                      'own_table_Yes', 'own_bed_Yes', 'own_mattress_Yes', 'own_mosquitonet_Yes', 'own_fan_Yes', 'own_bicycle_Yes',
                                      'own_motorcycle_Yes', 'own_generator_Yes', 'own_solarpanels_Yes', 'own_kerosenestove_Yes',
                                      'own_charcoaljiko_Yes', 'own_wheelbarrow_Yes', 'own_ironfencing_Yes', 'own_farmanimals_Yes', 
                            'headFemale', 'shareFemale','shareAgeZeroToFour','shareAgeFiveToNine', 'shareAgeTenToFourteen', 
    'shareAgeFifteenToTwentyfour', 'shareAgeTwentyfivetofourtynine', 'shareAgeFiftyPlus','shareMaleAgeTenToNineteen',
    'shareFemaleAgeTenToNineteen', 'shareMaleAgeTwentytoFourtynine', 'shareFemaleAgeTwentytoFourtynine',
    'shareWithNoEducation', 'shareWithEarlyChildhood', 'shareWithPrimary', 'shareWithSecondary', 'shareWithVocational',
    'shareWithUniversity', 'shareWithOther', 'shareSpeaks', 'shareReads', 'shareWrites']].fillna(0)

#own_car
#'hh_purchasedfood7d_Yes'
#floor_material', 'roof_material','wall_material', 'toilet_type', 'share_toilet', 'lighting_source',
#doesn't include share of household vars

In [49]:
ln_spend = np.log(FinalMerge['Total_Spend'])

              
ln_expenditure_per_capita = ln_spend/FinalMerge['size']

In [50]:
y = ln_expenditure_per_capita

X = restricted_set

#need to figure out why there are 0's for total spend

In [51]:
#Ridge Model
alphas = 10**np.linspace(10,-2,100)*0.5

In [52]:
ridge = Ridge(normalize = True)
coefs = []

for a in alphas:
    ridge.set_params(alpha = a)
    ridge.fit(X, y)
    coefs.append(ridge.coef_)
    
np.shape(coefs)

(100, 43)

In [53]:
# Split data into training and test sets
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [54]:
#cross validation to choose optimal alpha

ridgecv = RidgeCV(alphas = alphas, scoring = 'neg_mean_squared_error', normalize = True)
ridgecv.fit(X_train, y_train)
ridgecv.alpha_

0.01155064850041579

In [55]:
#Test MSE w/ optimal alpha

ridge4 = Ridge(alpha = ridgecv.alpha_, normalize = True)
ridge4.fit(X_train, y_train)
mean_squared_error(y_test, ridge4.predict(X_test))

1.2958356045062223

In [56]:
#Fit ridge model w/ optimal alpha 
ridge4.fit(X, y)
pd.Series(ridge4.coef_, index = X.columns)

number_dwellings                   -0.360276
number_habitablerooms              -0.077635
own_radio_Yes                      -0.066193
own_television_Yes                 -0.137634
own_satelitedish_Yes               -0.052998
own_smartphone_Yes                 -0.180023
own_refrigerator_Yes                1.350039
own_table_Yes                       0.065868
own_bed_Yes                         0.295807
own_mattress_Yes                    0.057121
own_mosquitonet_Yes                 0.130167
own_fan_Yes                        -0.129829
own_bicycle_Yes                    -0.122708
own_motorcycle_Yes                 -0.184682
own_generator_Yes                   0.399276
own_solarpanels_Yes                 0.076835
own_kerosenestove_Yes               0.220238
own_charcoaljiko_Yes                0.090283
own_wheelbarrow_Yes                -0.007448
own_ironfencing_Yes                 0.055692
own_farmanimals_Yes                -0.240609
headFemale                          0.161901
shareFemale                        -0.092192
shareAgeZeroToFour                 -5.488508
shareAgeFiveToNine                 -3.648344
shareAgeTenToFourteen              -2.536162
shareAgeFifteenToTwentyfour        -0.617461
shareAgeTwentyfivetofourtynine      0.188405
shareAgeFiftyPlus                  -0.162847
shareMaleAgeTenToNineteen          -2.383000
shareFemaleAgeTenToNineteen        -3.364848
shareMaleAgeTwentytoFourtynine      0.997632
shareFemaleAgeTwentytoFourtynine    0.500081
shareWithNoEducation               -2.257498
shareWithEarlyChildhood            -2.525637
shareWithPrimary                   -2.323013
shareWithSecondary                 -2.196749
shareWithVocational                -1.655904
shareWithUniversity                -1.738037
shareWithOther                     -1.733648
shareSpeaks                        -0.765616
shareReads                         -0.305698
shareWrites                         0.112932
dtype: float64

In [63]:
Y_test_ridge = ridge4.predict(X_test)
Y_test_ridge = pd.Series(Y_test_ridge)
Predicted_vs_Actual = pd.DataFrame(Y_test_ridge, columns=['Y Test'])
Predicted_vs_Actual['log(Total Spend/capita)'] = y
Predicted_vs_Actual

       Y Test  log(Total Spend/capita)
0    6.604491                 2.053445
1    0.363524                 1.333512
2    1.000390                 1.247643
3    3.312332                 0.560549
4    1.197295                 4.732758
..        ...                      ...
268  1.096960                 1.810521
269  2.098028                 2.131083
270  1.890281                 3.660594
271  2.646591                 2.369612
272  1.814666                 2.161511

[273 rows x 2 columns]

In [58]:
Predicted_vs_Actual.nsmallest(68, ['log(Total Spend/capita)'])

       Y Test  log(Total Spend/capita)
142  3.774330                 0.541109
3    3.312332                 0.560549
115  1.394597                 0.573629
195  1.207106                 0.591259
45   2.167191                 0.604882
..        ...                      ...
171  0.367478                 1.101849
27   1.680663                 1.106042
52   1.317883                 1.114494
92   2.170475                 1.128372
47   2.932334                 1.128649

[68 rows x 2 columns]

In [59]:
Predicted_vs_Actual['included bottom percentage actual spend'] = np.where(Predicted_vs_Actual['log(Total Spend/capita)'] < 6.639246, 1, 0)
Predicted_vs_Actual['included bottom percentage actual spend'].value_counts()

1    256
0     17
Name: included bottom percentage actual spend, dtype: int64

In [60]:
Predicted_vs_Actual.nsmallest(68, ['Y Test'])

,Y Test,log(Total Spend/capita),included bottom percentage actual spend
89,0.263797,0.613937,1
181,0.284324,1.481214,1
20,0.324359,0.996338,1
1,0.363524,1.333512,1
171,0.367478,1.101849,1
...,...,...,...
268,1.096960,1.810521,1
80,1.097746,1.145925,1
26,1.100427,1.429001,1
94,1.102871,0.708873,1
212,1.115977,1.386702,1

In [61]:
Predicted_vs_Actual['included bottom percentage test spend'] = np.where(Predicted_vs_Actual['Y Test'] < 6.821950, 1, 0)

In [62]:
Predicted_vs_Actual['correctly predicted'] = np.where(Predicted_vs_Actual['included bottom percentage actual spend'] == Predicted_vs_Actual['included bottom percentage test spend'], True, False)
Predicted_vs_Actual['correctly predicted'].value_counts()

True     253
False     20
Name: correctly predicted, dtype: int64